@model List<ToDoApp.Controllers.TasksController.TaskItem>

@if (Model.Any())
{
    <ul>
        @foreach (var task in Model)
        {
            <li>@task.Description (Active: @task.IsActive)</li>
        }
    </ul>
}
else
{
    <p>No tasks available.</p>
}